.regform-common {
	border:1px solid black;
	position:fixed;
	width:400px;
	top:12%;
	left:30%;
}

input[type=submit]{
	height: 30px;
	width: 80px;
	border:none;
	color: blue;
	background: #35b128;
	border:1px solid #33842a;
}
.field{
	width:140px;
	vertical-align: middle;
	padding-left:20px;
	padding-top:7px;
}
.submit-form {
	padding:10px;
	border-radius:5px;
	font-family: Arial;
	font-size: 14px;
}